// Main Footer
footer.main-footer
  // To the right
  .pull-right.hidden-xs
    | Thắc mắc liên hệ: poedeveloper@gmail.com
  // Default to the left
  strong
    | Copyright © 2015
    a(href='#') Calmseas admin
    | .
  |  All rights reserved.

